<section class="portfolio" id="portfolio">
    <div class="interface">
        <h2>PROJETOS</h2>
        <div class="flex">
            <div *ngFor="let projeto of projetos" class="img-project" [style.backgroundImage]="'url(' + projeto.imagem + ')'">
              <div class="overlay">
                {{ projeto.nome }}
                <div class="icons-project">
                  <img *ngFor="let especialidade of projeto.especialidades" [src]="getIconeEspecialidade(especialidade)" alt="">
                </div>
                <div class="btn-project">
                  <button>
                    <a [href]="projeto.link" target="_blank">
                      <mat-icon class="material-symbols-outlined">language</mat-icon>
                    </a>
                  </button>
                  <button *ngIf="projeto.github">
                    <a [href]="projeto.github" target="_blank">
                      <img src="assets/git.svg" alt="" width="30px">
                    </a>
                  </button>
                </div>
              </div>
            </div><!--img-projects-->
          </div><!--flex-->
    </div><!--interface -->
</section><!--portfolio -->

  