<section class="portfolio" id="portfolio">
    <div class="interface">
        <h2>PROJETOS</h2>
        <div class="flex">
            <div class="img-project" style="background-image: url(assets/consultancy.png);">
                <div class="overlay">
                    Consultancy Vasc

                    <div class="btn-project">
                        <button><a href="https://github.com/vascsx/consultoriaLandingPage">Deploy</a></button>
                        <button><a href="https://github.com/vascsx/consultoriaLandingPage">Repo</a></button>
                    </div>
                </div>

            </div><!--img-projects-->

            <div class="img-project" style="background-image: url(assets/pokedexApi.png);">
                <div class="overlay">
                    Pokedex Api Fetch

                    <div class="btn-project">
                        <button><a href="https://pokedex-fetch-api.netlify.app" target="_blank">Deploy</a></button>
                        <button><a href="https://github.com/vascsx/pokedexApiFetch" target="_blank">Repo</a></button>
                    </div>
                </div>


            </div><!--img-projects-->
            
            <div class="img-project" style="background-image: url(assets/calculadora.png);">
                <div class="overlay">
                    Calculadora

                    <div class="btn-project">
                        <button><a href="https://calculadoravasc.netlify.app" target="_blank">Deploy</a></button>
                        <button><a href="https://github.com/vascsx/Calculadora" target="_blank">Repo</a></button>
                    </div>
                </div>
            </div><!--img-projects-->
        </div><!--flex-->
    </div><!--interface -->
</section><!--portfolio -->
