.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

    .flex {
        justify-content: space-around;

    }

    .img-project {
        width: 360px;
        height: 460px;
        background-color: red;
    }
}