<header>
    <div class="interface">
        <div class="logo">
            <a href=""><img src="assets/logo.png" alt="Logo com nome VASC" width="160px" height="140px"></a>
        </div><!-- logo -->
    </div><!-- interface -->
    <nav class="menu-desktop">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Especialidades</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Projetos</a></li>
        </ul>
    </nav><!-- menu-desktop -->

    <div class="btn-contato">
        <a href="">
            <button>Contato</button>
        </a>
    </div><!--btn-contato-->
</header>
