<header id="header">
    <a id="logo" href="https://www.linkedin.com/in/andersonvasconcelos17/" target="_blank">Vasc</a>
    <nav id="nav">
        <button id="btn-mobile" (click)="toggleMenu($event)" (touchstart)="toggleMenu($event)">Menu
            <span id="hamburger"></span>
        </button>
        <div class="btn-theme">
          <input type="checkbox" class="checkbox" id="chk">
          <label class="label" for="chk">
            <mat-icon class="material-symbols-outlined lua">dark_mode</mat-icon>
            <mat-icon class="material-symbols-outlined sol">light_mode</mat-icon>
            <div class="ball"></div>
          </label>
        </div>
        
      
      <ul id="menu" role="menu">
        <li><a href="#menu">Inicio</a></li>
        <li><a href="#especialidades">Especialidades</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
      </ul>
    </nav>
  </header>
