.topo-do-site {
    padding: 40px 4%;

    .flex {
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: var(--primary-text);
        font-size: 1.85rem;
        font-weight: 900;
    }

    p {
        font-size: 1rem;
        color: var(--secondary-text);
        padding-left: 8px;
    }

    .btn-contato button {
        margin: 15px 20px;
    }

    .img-topo-site img{
        position: relative;
        animation: floating 2s ease-in-out infinite alternate;
        height: 500px;
        padding-left: 100px; /* Ajuste conforme necessário */
    }


    .btn-scroll-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #f10404;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: none; /* Inicialmente oculto */
        &:hover {
          background-color: #555;
        }
      }  
      
    }

  
    

@keyframes floating {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}


@media (max-width: 970px) {
    .flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
        }

        .btn-contato{
            padding-left: 18px;
        }

        img {
            margin-right: 80px;
        }
    }
}
