<app-header/>

<main>
    <section class="topo-do-site">
        <div class="interface">
            <div class="flex">  
                <div class="txt-topo-site">
                    <h1>Anderson Vasconcelos</h1>
                    <p>Desenvolvedor Full Stack</p>
                    <div class="btn-contato">         
                        <button><a href="https://www.linkedin.com/in/andersonvasconcelos17/" target="_blank">Entre em contato</a></button>
                    </div><!--btn-contato-->
                </div><!--txt-topo-do-site-->
                <div class="img-topo-site">
                    <img src="assets/principal-vasc.png" alt="Imagem ilustrativa de uma pessoa">
                </div><!--img-topo-site-->
            </div><!--flex-->
        </div><!--interface-->
    </section><!--topo-do-site-->
    <app-especialidades/>
    <app-sobre/>
    <app-portfolio/>
    


    <div class="btn-back">
        <button class="btn-scroll-top" (click)="scrollToTop()">
            <img src="assets/up.png" alt="nao carregou " width="50px">
        </button>
    </div>


</main>
