<app-header/>
<main>
    <section class="topo-do-site">
        <div class="interface">
            <div class="flex">  
                <div class="txt-topo-site">
                    <h1>Anderson Vasconcelos</h1>
                    <p>Desenvolvedor Full Stack</p>
                    <div class="btn-contato">         
                        <button>Entre em contato</button>
                    </div>
                </div><!--txt-topo-do-site-->
                <div class="img-topo-site">
                    <img src="assets/principal-vasc.png" alt="Imagem ilustrativa de uma pessoa">
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--topo-do-site-->
    <app-especialidades/>
    <app-sobre/>
    <app-portfolio/>
</main>
