<section class="especialidades">
    <div class="interface">
        <h2 class="title">MINHAS <span>ESPECIALIDADES.</span></h2>
        <div class="flex">
            <div class="especialidades-box">
                <img src="assets/icons-especialidades/cart.png" alt="" class="cart">
                <h3>Website</h3>
                <p>Manjo bem na criação de websites personalizados! Desenvolvo sites que são a cara do cliente, 
                    usando as últimas tecnologias para garantir que eles fiquem modernos e funcionem direitinho em qualquer tela.
                    Do esboço inicial ao lançamento final, estou sempre garantindo que tudo fique com a melhor aparência e funcionalidade possível.
                    Quero criar algo único e incrível que faça meus clientes brilharem online!
                </p>
            </div><!--especilidades-box-->

            <div class="especialidades-box">
                <img src="assets/icons-especialidades/web.png" alt="" class="cart">
                <h3>Website</h3>
                <p>Manjo bem na criação de websites personalizados! Desenvolvo sites que são a cara do cliente, 
                    usando as últimas tecnologias para garantir que eles fiquem modernos e funcionem direitinho em qualquer tela.
                    Do esboço inicial ao lançamento final, estou sempre garantindo que tudo fique com a melhor aparência e funcionalidade possível.
                    Quero criar algo único e incrível que faça meus clientes brilharem online!
                </p>
            </div><!--especilidades-box-->

            <div class="especialidades-box">
                <img src="assets/icons-especialidades/site.png" alt="">
                <h3>Website</h3>
                <p>Manjo bem na criação de websites personalizados! Desenvolvo sites que são a cara do cliente, 
                    usando as últimas tecnologias para garantir que eles fiquem modernos e funcionem direitinho em qualquer tela.
                    Do esboço inicial ao lançamento final, estou sempre garantindo que tudo fique com a melhor aparência e funcionalidade possível.
                    Quero criar algo único e incrível que faça meus clientes brilharem online!
                </p>
            </div><!--especilidades-box-->

        </div><!--flex-->
    </div><!--interface-->
</section>