.especialidades{
    padding: 40px 4%;

    .flex {
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
     
    h2 {
        text-align: center;
        font-size: 1.85rem;
    }

    span {
        color: blue;
    }

    .especialidades-box {
        color: white;
        padding: 40px;
        margin-top: 25px;
        border-radius: 10px;
        transition: .2s;
        
        img {
            width: 80px;
            height: 80px;
        }

        h3 {
            font-size: 22px;
            font-weight: 500;
            margin: 15px 0;
            text-align: center;
        }
    }

    .especialidades-box:hover {
        transform: scale(1.05);
        box-shadow: 0 0 18px #faf4f486;
    }


}