<section class="especialidades" id="especialidades">
    <div class="interface">
        <h2 class="title">TECNO<span>LOGIAS.</span></h2>
        <div class="flex">
            <div class="especialidades-box">
                <img src="assets/icons-especialidades/angular.svg" alt="">
                <h3>Angular</h3>
            </div><!--especilidades-box-->

            <div class="especialidades-box">
                <img src="assets/icons-especialidades/typescript.svg" alt="">
                <h3>Typescript</h3>
            </div><!--especilidades-box-->

            <div class="especialidades-box">
                <img src="assets/icons-especialidades/java.svg" alt="">
                <h3>Java</h3>
            </div><!--especilidades-box-->
            
            <div class="especialidades-box">
                <img src="assets/icons-especialidades/mysql.svg" alt="">
                <h3>Mysql</h3>
            </div><!--especilidades-box-->

            <div class="especialidades-box">
                <img src="assets/icons-especialidades/sass.svg" alt="">
                <h3>Scss</h3>
            </div><!--especilidades-box-->

        </div><!--flex-->

        
    </div><!--interface-->
</section>