<section class="sobre">
    <div class="interface">
        <div class="flex">
            <div class="img-sobre">
                <img src="assets/vasc-sobre.jpeg" alt="" width="280">
            </div><!--img-sobre-->

            <div class="txt-sobre">
                <h2>MUITO PRAZER, <span>SOU ANDERSON VASCONCELOS.</span></h2>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias quaerat incidunt fuga ea consequatur maxime aperiam quod eaque
                     ipsam voluptatem natus fugit, labore sunt officia quis deleniti earum similique atque.</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore veniam sequi eaque libero tempore,  
                    vel voluptate temporibus eveniet necessitatibus repellendus consequatur vero tempora. Repellat atque minus consequatur eligendi facilis odit!</p>
                    <div class="btn-social">
                        <a href="https://www.linkedin.com/in/andersonvasconcelos17/" target="_blank"><img src="assets/icons-social/linkedin.png" alt="Imagem da logo do LinkedIn" width="50"></a>
                        <a href="https://github.com/vascsx" target="_blank"><img src="assets/icons-social/github.png" alt="Imagem da logo do Github" width="50"></a>
                    </div><!--txt-sobre-->
            </div><!--txt-sobre-->
        </div><!--flex-->
    </div><!--interface-->

</section><!--sobre-->