<section class="sobre" id="sobre">
    <div class="interface">
        <div class="flex">
            <div class="img-sobre">
                <img src="assets/vasc-sobre.jpeg" alt="" width="280">
            </div><!--img-sobre-->

            <div class="txt-sobre">
                <h2>MUITO PRAZER, <span>SOU ANDERSON VASCONCELOS.</span></h2>

                <p>Quando não estou quebrando a cabeça com códigos da faculdade
                    de Ciência da Computação na UFC, vocês podem me encontrar nos campos de futebol ou nas mesas de futmesa. 
                    Adoro aproveitar ao máximo meu tempo livre com atividades físicas. Mas claro, não posso negar minha paixão pela tecnologia. 
                    Estou determinado a me tornar um mestre fullstack, usando Angular e Java para criar sites e aplicativos incríveis. 
                    Vamos codificar juntos e, quem sabe, marcar uma partida de futebol depois para relaxar!</p>
   
                      
                      <div class="btn-social">
                        <a href="https://www.linkedin.com/in/andersonvasconcelos17/" target="_blank"><img src="assets/icons-social/linkedin.png" alt="Imagem da logo do LinkedIn" width="50"></a>
                        <a href="https://github.com/vascsx" target="_blank"><img src="assets/icons-social/github.png" alt="Imagem da logo do Github" width="50"></a>
                    </div><!--txt-sobre-->
            </div><!--txt-sobre-->
        </div><!--flex-->
    </div><!--interface-->

</section><!--sobre-->